@import "tailwindcss";

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s, transform 0.8s;
}
.fade-in.visible {
  opacity: 1;
  transform: none;
}
.nav-link {
  color: #374151;
  font-weight: 500;
  transition: color 0.2s;
}
.dark .nav-link {
  color: #d1d5db;
}
.nav-link:hover {
  color: #2563eb;
}
.dark .nav-link:hover {
  color: #60a5fa;
}
.material-icons {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.home-heading {
  animation: home-heading 0.8s ease-in-out;
}

@keyframes home-heading {
  from {
    opacity: 0;
    transform: translateX(-90px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-text {
  animation: home-text 0.8s ease-in-out;
}

@keyframes home-text {
  from {
    opacity: 0;
    transform: translateX(90px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-CTA {
  animation: home-CTA 0.8s ease-in-out;
}

@keyframes home-CTA {
  from {
    opacity: 0;
    transform: translateX(-90px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
